 <nav class="navbar navbar-dark bg-dark sticky-top">
   <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="entries" (click)="collapseNav()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="entry-detail" (click)="collapseNav()" href="#">Agregar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
   </div>
   <a class="navbar-brand" href="#" routerLink="entries"><img class="mr-3" src="./assets/beer-glass-1.png" width="32px" alt="Generic placeholder image"> | <span>Donde <span>tomar?</span></span></a>
    <button #navbarToogler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
