<div class="navbar page-navbar bg-dark position-fixed">
  <h3>Nueva Promoción</h3>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" (click)="goToHome()" class="btn btn-outline-secondary">&lt;&lt;</button>
          <button type="button" class="btn btn-outline-secondary">Guardar</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<form style="padding-top: 70px;">
  <div class="form-group">
    <label for="inputBusiness">Negocio</label>
    <input type="text" class="form-control" id="inputBusiness" aria-describedby="businessHelp" placeholder="Negocio">
    <small id="businessHelp" class="form-text text-muted">Ingrese el nombre del restaurant.</small>
  </div>
  <div class="form-group">
    <label for="inputPromotion">Promocion</label>
    <textarea class="form-control" id="inputPromotion" aria-describedby="promotionHelp" type="text" placeholder="Promocion"></textarea>
    <small id="promotionHelp" class="form-text text-muted">Describa la promoción.</small>
  </div>
  <div class="form-group">
    <label for="inputPrice">Precio por unidad</label>
    <input id="inputPrice" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Válida en</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="daysRadio" (click)="toggleDateLimited( false )" id="exampleRadios3" value="option1" checked>
      <label class="form-check-label" for="exampleRadios3">Días</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="daysRadio" (click)="toggleDateLimited( true )" id="exampleRadios4" value="option2">
      <label class="form-check-label" for="exampleRadios4">
        Fecha
      </label>
    </div>
  </div>
  <div class="form-group" *ngIf="isDateLimited">
    <input id="inputDate" type="text" class="form-control" aria-describedby="dateHelp">
    <small id="dateHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group" *ngIf="!isDateLimited">
    <input id="inputTags" type="text" class="form-control" aria-describedby="tagsHelp">
    <small id="tagsHelp" class="form-text text-muted">Día(s) de promoción: Lunes, Jueves. Vacío para todos los días</small>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#hours" data-toggle="tab">Horario</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="hours" role="tabpanel" aria-labelledby="hours-tab">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" (click)="toggleTimeLimited(false)" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">Todo el día</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" (click)="toggleTimeLimited(true)" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Especificar
          </label>
        </div>
      </div>
      <div class="form-row" *ngIf="isTimeLimited">
        <div class="col-2">
          <label for="inputFromHour">De</label>
          <input class="form-control" type="text" id="inputFromHour" />
        </div>
        <div class="col-2">
          <label for="inputUntilHour">Hasta</label>
          <input class="form-control" type="text" id="inputUntilHour" />
        </div>
      </div>
    </div>
  </div>
</form>
