<form>
  <div class="form-group">
    <label for="inputBusiness">Negocio</label>
    <input type="text" class="form-control" id="inputBusiness" aria-describedby="businessHelp" placeholder="Negocio">
    <small id="businessHelp" class="form-text text-muted">Ingrese el nombre del restaurant.</small>
  </div>
  <div class="form-group">
    <label for="inputPromotion">Promocion</label>
    <textarea class="form-control" id="inputPromotion" aria-describedby="promotionHelp" type="text" placeholder="Promocion"></textarea>
    <small id="promotionHelp" class="form-text text-muted">Describa la promoción.</small>
  </div>
  <div class="form-group">
    <label>Precio por unidad</label>
    <input type="text" class="form-control"X />
  </div>
</form>
